body{
    background-color: #eaebf1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
span{
    font-weight: bold;
}
a{
    text-decoration: none;
}
.direct{
    margin-left: 2vw;
    float: left;
    display: inline-block;
}

.header{
    height: 14vh;
    background-color: #fbe304;
}
.headerHigh{
height: 7vh;

}
#logoML{
    margin-left: 5vw;
    margin-top: 1vh;
    height: 50px;
    float: left;

}
.searchBar{
    width: 37vw;
    padding: 1.5vh;
    border-radius: 4px;
    border-color: #eaebf1;
    margin-left: 5vw;
    margin-top: 1vh;
    float: left;
    background-image: url('./lupaBusca.png');
    background-position: 4px ;
    background-repeat: no-repeat;
}
.searchBar::placeholder{
width: 20vw;
padding-left: 3vw;
}

#meliMais{
    margin-top: 2vh;
    float: right;
    margin-right: 5vw;
    color: white;
    width: 23vw;
    height: 5vh;
    font-size: 2.5vh;
    background-color: purple;
    text-align: center;
    padding-top: 1vh;
    border-radius: 30px;
}
.headerLow{
    margin-left: 19vw;
    font-size: 1vw;
    float: left;
}
#country{
    margin-left: 2vw;
   background-color: #fbe304;
   border: none;
   border-radius: 5px;
   
}
.body{
    background-color: #eaebf1;
    height: 86vh;
}

.conteudo{
    margin-top: 10vh;
    width: 80vw;
    margin-left: 10vw;
}


.payOption{
    height: 10vh;
    width: 17vw;
    background-color: white;
    float: left;
    font-size: 2.8vh;
    padding-top: 3vh;
    padding-left: 1vh;
    font-weight: bold;
    text-align: center;
}
.payDois{
    border-left: 1px solid #eaebf1;
}
#lastOption{
    height: 10vh;
    width: 10vw;
    margin-left: 68vw;
    background-color: white;
    border: 0 4px 4px 0;
    text-align: center;
    padding-top: 2vh;
    font-size: 5vh;
    font-weight: bold;
}
.products{
    width: 15vw;
    height: 40vh;
    margin: 0 2vw;
    background-color: white;
    overflow: hidden;
    float: left;
    display: inline-block;
    padding-left: 1vw;
    border-radius: 5px;
}
.products:hover{
    border: 2px solid rgb(156, 156, 156);
    height: 50vh;
    transition-timing-function: linear;
    transition-duration: 0.3s;
    

}
.enfase{
    color: rgb(0, 184, 0);
}
.PostsCategoria{
    margin-top: 65vh;
    margin-left: 11vw;
}

.postUm{
    width: 35vw;
    height: 30vh;
    background-color: white;
    border-radius: 5px;
    float: left;
}

#textoPost{
    padding-top: 5vh;
    font-weight: bold;
}

#imagemPanela{
    margin-left: 1vw;
    border-radius: 5px;
    width: 13vw;
    height: 13vw;
    float: right;
}

.postDois{
    width: 35vw;
    height: 30vh;
    background-color: white;
    border-radius: 5px;
    margin-left: 39vw;
    overflow: hidden;
}

button{
    width: 9vw;
    height: 5vh;
    font-weight: bold;
    font-size: 1vw;
    border: none;
    color: white;
    background-color: rgb(74, 74, 255);
    border-radius: 5px;
}
button:hover{
    transition-duration: 0.5s;
    background-color: rgb(0, 0, 179);
}
.rodape{
    width: 100%;
    height: 15vh;
}
.end{
    margin-top: 15vh;
    width: 100vw;
    height: 30vh;
    background-color: rgb(94, 94, 94);
    text-align: center;
}
#direitos{
    padding-top: 10vh;
    color: white;
    font-weight: bold;
}
.caminhoCategoria{
    color: rgb(89, 89, 255);
    font-size: small;
    font-weight: 100;
}
.caminhoCat{
    margin-top: 10vh;
    margin-left: 5vw;
}
        .caixa1.fixa {
            position: fixed;
            top: 0;
            left: 5vw;
            width: 37vw;
        }
        .caixa1.final {
            position: absolute; /* Define a posição nova como absoluta */
            margin-top: 30vh; /* Nova posição final no eixo Y */
            left: 5vw; /* Nova margem à esquerda */
            width: 37vw; /* Nova largura */
          }
        .caixa2.fixa2 {
         margin-left: 37vw;
        }
        .caixa2.final2 {
            position: absolute; /* Define a posição nova como absoluta */
            margin-left: 37vw; /* Nova margem à esquerda */
            width: 27vw; /* Nova largura */
          }
        
.caixa1{
    width: 37vw;
    height: 120vh;
    float: left;
}
.caixa2{
    width: 27vw;
    height: 120vh;
    float: left;
}
.coluna3{
    height: 120vh;
}
.conteudoCadeira{
    margin-left: 5vw;
    width: 90vw;
    height: 195vh;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(219, 219, 219);
    float: left;
}
#img1{
    border-radius: 5px;
    margin-top: 3vh;
    padding: 2px;
    border: 2px solid rgb(219, 219, 219);
}
.imagensP{
    display: flex;
    flex-direction: column;
    gap: 15px;
    float: left;
    margin-left: 3vh;
}
.primeiraimg{
    margin-top: 3vh;
}
.minhaImagem{
    border: 2px solid rgb(219, 219, 219);
    border-radius: 5px;
    padding: 2px;
}
.ajusteImg{
    padding: 2px 4.5px;
    height: 70px;
    width: 65px;
}
.borda-azul{
    border: 3px solid blue;
    border-radius: 5px;
}

#imagemG{
    margin-top: 10vh;
    margin-left: 1vw;
    float: left;
}
.textoCadeira{
    width: 35vw;
}
#sobretitulo{
    margin-top: 3vh;
}
#tituloCadeira{
    margin-top: 2vh;
    font-weight: bold;
    font-size: 4vh;
}
.preco{
    margin-top: 2vh;
    font-size: 8vh;
}
.centavos{
    font-size: 4vh;
}
.seletorCor{
    margin-top: 6vh;
}
.tituloInfo{
    margin-top: 2vh;
    font-weight: bold;
}
.infoProduto{
    margin-top: 1vh;
    list-style-type: square;
}
#descProd{
    margin-top: 1vh;
}

.pagamento{
    width: 25vw;
    height: 115vh;
    margin-top: 3vh;
    margin-left: 64vw;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
}
.textPay{
    margin: 3vh 1.5vw;
    font-size: 1.5vw;
    font-weight: 100;
}
.linkEntrega{
    font-size: 1.1vw;
    color: rgb(66, 66, 255);
}
.afinado{
    font-weight: 100;
}
.negrito{
    font-weight: bold;
    font-size: 3vh;
}
#quantidade{
   border: none;
   font-size: 3vh;
   font-weight: bold;
}
.botoesColuna3{
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 8vh;
    margin-top: 1vh;
    font-size: 2.5vh;
}
.botaoComprar{
    background-color: blue;
    color: white;
}
.botaoAddCarrinho{
    background-color: rgb(213, 213, 248);
    color: blue;
}
.textoPequeno{
    font-size: 2.5vh;
}
.mercadoLider{
    margin-top: 2vh;
}
#linha{
    height: 1px;
    width: 90%;
    color: rgb(219, 219, 219)
}
.prodRelacionados{
    margin: 5vh 3vw;
}
.rodapePag1{
    width: 100vw;
    height: 15vh;
}
.endPag1{
    margin-top: 190vh;
    width: 100vw;
    height: 30vh;
    background-color: rgb(94, 94, 94);
    text-align: center;
}
.listaProdutos{
    margin-left: 3vw;
    margin-top: 10vh;
    width: 60vw;
    height: 50vh;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
    float: left;
}
.precoFinal{
    margin-left: 3vw;
    margin-top: 10vh;
    width: 30vw;
    height: 23vw;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
    float: left;
}
.nomeLoja{
    width: 60vw;
    height: 10vh;
    border-radius: 10px 10px 0 0;
}
#checkLoja{
    transform: scale(1.2);
    margin-top: 4vh;
    margin-left: 2vw;
    margin-right: 2vw;
    float: left;
}
#nomeDaLoja{
    padding-top: 3.4vh;
}
.produto{
    width: 100%;
    height: 20vh;
    background-color: white;
    border-top: 1px solid rgb(219, 219, 219);
}
.frete{
    height: 10vh;
    width: 100%;
    border-top: 1px solid rgb(219, 219, 219);
}
#tituloFrete{
    margin-left: 2vw;
    margin-top: 3vh;
    float: left;
}
.juncao{
    float: right;
    margin-right: 2vw;
    margin-top: 3vh;
    width: 6vw;
    height: 3vw;
    font-size: medium;
}
#precofrete{
    float: left;
    padding-left: 2vw;
}
#valorFrete{
font-weight: bold;
}
.freteGratis{
    border-radius:0 0 10px 10px;
    height: 20vh;
    padding-top: 3vh;
    width: 100%;
    background-color: rgb(246, 246, 246);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.barra-progresso {
    width: 80%;
    margin-left: 5%;
    height: 6px;
    border-radius: 25px;
    background-color:#e0e0e0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    position: relative; /* Necessário para posicionar a bolinha */
    float: left;
}

.barra-progresso-inner {
    width: 70%; /* Progresso em 50% */
    height: 6px;
    border-radius: 25px;
    background-color: #5353ff;
    position: relative; /* Para a bolinha ser posicionada corretamente */
    
}

.bolinha {
    width: 12px;
    height: 12px;
    background-color: #5353ff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -10px; /* Posiciona no final da barra interna */
    transform: translateY(-50%);
}
#tituloMiniFreteGratis{
    font-size: small;
    margin-left: 52vw;
}
.textFreteGratis{
    margin-left: 3vw;
    font-size: 13px;
}
#maisItensDaLoja{
    color: rgb(66, 66, 255);
}
.tituloResumoCompra{
    margin-top: 3.5vh;
    margin-left: 4vh;
    font-weight: bold;
    width: 100%;
    height: 5vh;
}
.linhasResumo{
margin-top: 3vh;
margin-left: 4vh;
font-size: small;
color: rgb(123, 123, 123);
float: left;
}
.totalResumo{
    color: black;
    font-size: medium;
    margin-top: 3vh;
    margin-left: 4vh;
    float: left;
}
.precoProdutos{
    color: black;
    font-size: medium;
    margin-top: 4vh;
    margin-right: 4vh;
    text-align: right;

}
.botoesContinuarCompra{
    border: none;
    border-radius: 10px;
    width: 85%;
    height: 9vh;
    margin-top: 2vh;
    margin-left: 4vh;
    font-size: 2.5vh;
}